{% extends "creatures/base.html" %}

{% block title %}Pokemons | Creatures{% endblock title %}

{% block main %}

<h1 class="text-center my-4" id="decorate">CREATURES</h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    {% for creature in creatures %}
    <div class="col">
      <div class="card shadow-sm">
        <h5 class="card-header text-center">{{ creature.name }}</h5>
        <div class="card-body text-center">
          <a href="{% url 'creatures:creature-detail' creature.slug %}">
            <button type="button" class="btn btn-outline-primary">Details</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock main %}